.part-details-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  
 
   }
  .page-title {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px; 
  }
  
  .input-label {
    font-size: 18px;
    align-self: center;
  }
  
  .input-field {
    padding: 15px;
    font-size: 12px;
    font-color : white;
 
    border-radius: 4px;
    width: 300px;
    text-align: left; /* Align text within input fields to the left */
  background-color: coral; /* Add a background color for better readability */
  padding: 5px;
  }
  